body{
    max-width: 25%;
    margin: auto;  
}

h2{
    text-align: center;
}

form{
    border: solid 1px;
    border-radius: 5%;
    padding: 5%;
}

label{
    display: block;
    margin-top: 10px;
}

fieldset{
    width: 100%;
    box-sizing: border-box;
}

.radio-grupo{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: auto;
}
fieldset label{
    margin-top: 5px;
    margin: auto;
}

button[name="botao-enviar"]{
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: rgb(29, 118, 202);
    color: white;
}


.input-tamanho-total{
    width: 100%;
    box-sizing: border-box;
}


.Borda-erro{
    border-color: #ff0000;
}